@page "/teams"

<PageTitle>Teams</PageTitle>

@using Undersoft.ODP.Api
@using UltimatR
@inject HttpClient Http
@inject IUltimatr ultimatr

<h1>Teams</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        var _ultimatr = ultimatr;
    }
}
